/* .profile img {
  width: 100%;
  /* width: 400px; */
/* opacity: 90%; */
/* border: 5px solid black; */
/* }

.ava {
  font-size: 44px;
  letter-spacing: 12px;
  color: rgb(72, 108, 109);
} */
.text{
  font-size: 50px;
}
