/* html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
  или
  body { padding: 0 calc(20px - (100vw - 100%)) 0 0; }
} */

body {
  padding: 10px;

  background-color: rgb(72, 108, 109);
}

.App-wrapper {
  display: grid;
  grid-template-areas: "h h" "n main" "f f";

  grid-template-rows: 80px 1fr 80px;
  grid-template-columns: 1fr 5fr;
  grid-gap: 10px;

  width: 1200px;
}

.App-wrapper__pages {
  grid-area: main;
  padding: 5px;
  background-color: rgb(211, 143, 116);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
